<div class="jumbotron">
    <h1>Levelnis Learning Series</h1>
    <p class="lead">This is a small example project, which shows you how to hook up ASP.NET MVC, Web API and FluentValidation with Autofac. It contains a simple sign in form, which illustrates that the dependencies are being created by Autofac. It also contains a Register form, which shows the validation stuff in action. </p>
    <p><a href="@Url.Action("SignIn", "Security")" class="btn btn-primary btn-lg">Sign In &raquo;</a>&nbsp;&nbsp;<a href="@Url.Action("Register", "Security")" class="btn btn-primary btn-lg">Register with Data Annotations &raquo;</a>&nbsp;&nbsp;<a href="@Url.Action("RegisterFluent", "Security")" class="btn btn-primary btn-lg">Register with Fluent Validation &raquo;</a></p>
</div>
